services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Zeroseven\CriticalCss\:
    resource: '../Classes/*'

  Zeroseven\CriticalCss\EventListener\ModifyClearCacheActions:
    tags:
      - name: event.listener
        identifier: 'zeroseven/critical-css/modify-clear-cache-action'
        method: __invoke
        event: TYPO3\CMS\Backend\Backend\Event\ModifyClearCacheActionsEvent

  Zeroseven\CriticalCss\Command\FlushCommand:
    tags:
      - name: console.command
        command: 'critical_css:flush'
        description: 'Flushes the critical styles.'

  dashboard.widget.criticalCssStatus:
    class: 'TYPO3\CMS\Dashboard\Widgets\DoughnutChartWidget'
    arguments:
      $view: '@dashboard.views.widget'
      $dataProvider: '@Zeroseven\CriticalCss\Widgets\Provider\StatusDataProvider'
    tags:
      - name: dashboard.widget
        identifier: 'criticalCssStatus'
        groupNames: 'systemInfo'
        title: 'LLL:EXT:critical_css/Resources/Private/Language/locallang_be.xlf:widget.criticalCssStatus.title'
        description: 'LLL:EXT:critical_css/Resources/Private/Language/locallang_be.xlf:widget.criticalCssStatus.description'
        iconIdentifier: 'content-widget-chart-pie'
        height: 'medium'



